img {
    display: block;
}

* {
    color: white;
}

#root {
    box-sizing: border-box;
    min-height: 100vh;
    width: 100vw;
    padding: 75px 0;


    display: flex;
    align-items: center;
    justify-content: center;
}

.App {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.more-button {
    all: unset;
    height: 32px;
    width: 100vw;
    border-radius: 8px 8px 0 0;

    display: grid;
    place-items: center;

    color: white;

    text-transform: uppercase;
    cursor: pointer;

    position: fixed;
    bottom: 0;
    left: 0;
}

.top-bar {
    height: 64px;
    width: 100vw;
    border-radius: 0 0 8px 8px;

    position: fixed;
    top: 0;
    left: 0;

    padding: 0 32px;

    display: flex;
    align-items: center;
}

.hover-container {
    transition: all 150ms ease-in-out;
    height: 32px;
    background-color: rgba(0, 0, 0, .5);
}

.hover-container:hover {
    height: 64px;
    background-color: rgba(0, 0, 0, .8);
}

.image-thumbnail {
    display: block;
    cursor: pointer;
}

.image-thumbnail-container {
    position: relative;
}

.image-thumbnail-delete {
    all: unset;
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 2px 4px;
    border-radius: 4px;
    line-height: 16px;
    font-size: 10px;

    display: grid;
    place-items: center;

    cursor: pointer;
    transition: all 150ms ease-in-out;
    opacity: 0;

    background-color: red;
    color: white;
}

.image-thumbnail-delete:active {
    transform: scale(0.95);
}

.image-thumbnail-container:hover > .image-thumbnail-delete {
    opacity: 1;
}

.modal {
    transition: all 300ms ease-in-out;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;


    display: grid;
    place-items: center;

    background-color: rgba(0, 0, 0, .8);
}

.modal.visible {
    opacity: 1;
    top: 0;
}

.modal.hidden {
    opacity: 0;
    top: 100%;
}

.album-selector {
    all: unset;
    margin: 0 4px;
    cursor: pointer;
    text-decoration: underline;
}